noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>


inoremap jk <ESC>

"" NERDTree
map <C-n> :NERDTreeToggle<CR>

"-------Search--------
"インクリメンタルサーチを有効にする
set incsearch

"検索結果をハイライト 
set hlsearch

"大文字小文字を区別しない
set ignorecase

" <ESC>連打で検索ハイライト消す
nnoremap <silent> <ESC><ESC> :nohlsearch<CR>

" 行数を表示
set number

" Open current directory
nmap te :tabedit<Return>

" List tabs
nmap tl :Unite tab

" Tab
" Command-Shift+],[で移動した
nmap <S-Tab> :tabprev<Return>
nmap <Tab> :tabnext<Return>
" buffer move
map bp :bprevious<Return>
map bn :bnext<Return>

" Split window
nmap ss :split<Return><C-w>w
nmap sv :vsplit<Return><C-w>w
" Move window
nmap <Space> <C-w>w
map s<left> <C-w>h
map s<up> <C-w>k
map s<down> <C-w>j
map s<right> <C-w>l
map sh <C-w>h
map sk <C-w>k
map sj <C-w>j
map sl <C-w>l
" Resize window
nmap <C-w><left> <C-w><
nmap <C-w><right> <C-w>>
nmap <C-w><up> <C-w>+
nmap <C-w><down> <C-w>-

" VimFiler
nmap sf :VimFilerBufferDir<Return>
nmap sF :VimFilerExplorer -find<Return>
nmap sb :Unite buffer<Return>
let g:vimfiler_as_default_explorer = 1
let g:vimfiler_safe_mode_by_default = 0
let g:vimfiler_enable_auto_cd = 0
let g:vimfiler_tree_leaf_icon = ''
let g:vimfiler_tree_opened_icon = '▾'
let g:vimfiler_tree_closed_icon = '▸'
let g:vimfiler_marked_file_icon = '✓'

" 閉じカッコ補完
"inoremap { {}<Left>
"inoremap {<Enter> {}<Left><CR><ESC><S-o>
"inoremap ( ()<ESC>i
"inoremap (<Enter> ()<Left><CR><ESC><S-o>

" カーソルキーでbuffer移動
nnoremap <Left> :bp<CR>
nnoremap <Right> :bn<CR>
